/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  background: #e5e5e5;
}

/* Mobile */

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: #fff;
}

.hide {
  display: none;
}

.cross {
  display: flex;
  justify-content: flex-end;
  margin-right: 37px;
}

.mobMenu {
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 8px;
}

.mobMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobLinks {
  padding: 8px 0;
}

.mobLinks a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  text-decoration: none;
}

.myLogo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #0a23ff;
}

.navLinks {
  display: none;
}

/* **************** */

/* Header */
header {
  background: #fff;
  border-bottom-left-radius: 80px;
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.headerTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.headerParra {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.onlyDesk {
  display: none;
}

.headerSubtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0a23ff;
  margin: 0;
}

.headerSocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerIcon {
  margin-right: 20px;
}

/* ********************* */

/* Section 1 - Works */
.section1 {
  display: grid;
  grid-template-rows: auto auto auto auto;
  row-gap: 88px;
  padding: 114px 24px;
}

.sectionCard,
.sectionCardInv {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.sectionImgMob {
  width: 100%;
  display: block;
}

.sectionImgDesk {
  display: none;
}

.sectionSubCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.sectionTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.sectionCanopy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.text1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0;
}

.text2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin: 0;
}

.counter {
  width: 8px;
  height: 8px;
}

.sectionParra {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.sectionTech {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #0017eb;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

.sectionButton {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin: 12px 0;
  text-decoration: none;
}

.sectionButton:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transform: translate(5px, 5px);
  transition: all 0.5s ease-out;
}

.sectionButton:active {
  background: #2230d2;
}

.popUp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popUp-content {
  background-color: #fff;
  width: 90%;
  margin: 16px auto 0 auto;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.borderPop {
  border-bottom: 1px solid #EBECF0;
  width: 100%;
  margin-top: 12px;
}

.buttonPop {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.popTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.crossblack {
  width: 40px;
  height: 40px;
}

/* ******************* */

/* Section2 - About Myself */
.section2 {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 24px;
  border-top-right-radius: 80px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.section2Title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.section2Parra {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.section2Subtitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0a23ff;
  margin: 0 0 4px 0;
}

.section2Social {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 4px 0;
}

.section2Icon {
  margin-right: 20px;
}

.section2Button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin: 20px 0 0 0;
  text-decoration: none;
}

.section2Button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transform: translate(5px, 5px);
  transition: all 0.5s ease-out;
}

.section2Button:active {
  background: #2230d2;
}

/* ********************* */

/* skill */

.skill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skillTech {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skillTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin: 0;
  padding: 24px 0 24px 12px;
}

.arrow {
  width: 40px;
  height: 40px;
  padding-right: 26px;
}

.borderBottom {
  border-bottom: 1px solid #dfe1e6;
}

.skillLang {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
}

.lang {
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.langText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 0;
  padding: 21px 0 21px 16px;
}

/* ********************* */

/* contact-me */
.contact {
  background-color: #fff;
}

.contact-me {
  background-color: #6070ff;
  border-top-left-radius: 80px;
  padding: 103px 24px 45px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-image: url("./img/contactbg.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right top;
}

.contactTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin: 0;
  text-align: center;
}

.contactParra {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 0 0 12px 0;
}

.contactForm {
  width: 100%;
}

.contactUl {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactInput {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.contactArea {
  width: 100%;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contactButton {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  margin: 0;
  text-decoration: none;
}

.contactButton:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
  transform: translate(5px, 5px);
  transition: all 0.5s ease-out;
}

.contactButton:active {
  background: #2230d2;
}

/* *************** */

/* Desktop view */
@media (min-width: 768px) {
  /* Navbar */
  nav {
    padding: 0 143px 48px 143px;
  }

  .hamburger {
    display: none;
  }

  .mobMenu {
    display: none;
  }

  .navLinks {
    display: flex;
    gap: 8px;
    list-style: none;
  }

  .links {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 10px 12px;
  }

  .myLogo:hover,
  .links:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

  /* **************** */

  /* Header */
  header {
    background-image: url("./img/desktop/header-desktop-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 289px 15% 289px 15%;
  }

  .headerTitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .headerParra {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .onlyDesk {
    display: block;
  }

  /* ********************* */

  /* Section 1 - Works */
  .section1 {
    padding: 142px;
    gap: 142px;
  }

  .sectionCard {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 24px;
  }

  .sectionCardInv {
    display: flex;
    flex-direction: row-reverse;
    gap: 22px;
    padding: 24px;
  }

  .sectionImgMob {
    display: none;
  }

  .sectionImgDesk {
    display: block;
    width: 100%;
  }

  .sectionSubCard {
    padding: 24px;
    gap: 24px;
  }

  .sectionTitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .sectionCanopy {
    padding: 0;
  }

  .text1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .text2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .sectionParra {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .sectionButton {
    margin: 16px 0;
  }
  
  .popUp {
    max-height: 100%;
    overflow-y: auto;
  }

  /* ******************* */

  /* Section2 - About Myself */
  .section2 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 142px;
  }

  .top {
    width: 70%;
  }

  .section2Title {
    color: #091e42;
  }

  /* ********************* */

  /* skill */
  .skillLang {
    display: flex;
    flex-direction: row;
  }

  .lang {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }

  .langImg {
    padding: 12px 62px 16px 12px;
  }

  .langText {
    padding: 0 0 20px 12px;
  }

  /* ********************* */

  /* contact-me */
  .contact-me {
    background-image: url("./img/desktop/contactbg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactParra {
    width: 50%;
  }

  .contactUl {
    gap: 27px;
  }

  .contactForm {
    width: 40%;
  }

  .contactButton {
    margin-left: auto;
    margin-right: auto;
  }
}
